{% if wetty_container_labels_traefik_enabled %}
{% if wetty_container_labels_traefik_docker_network %}
traefik.docker.network={{ wetty_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if wetty_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in wetty_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ wetty_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [wetty_identifier + '-add-request-headers'] %}
{% endif %}

{% if wetty_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in wetty_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ wetty_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [wetty_identifier + '-add-response-headers'] %}
{% endif %}

traefik.enable=true
{% endif %}
traefik.http.routers.{{ wetty_identifier }}.rule={{ wetty_container_labels_traefik_rule }}
{% if wetty_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ wetty_identifier }}.priority={{ wetty_container_labels_traefik_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ wetty_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ wetty_identifier }}.service={{ wetty_identifier }}
traefik.http.routers.{{ wetty_identifier }}.entrypoints={{ wetty_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ wetty_identifier }}.tls={{ wetty_container_labels_traefik_tls | to_json }}
{% if wetty_container_labels_traefik_tls %}
traefik.http.routers.{{ wetty_identifier }}.tls.certResolver={{ wetty_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.{{ wetty_identifier }}.loadbalancer.server.port={{ wetty_container_http_port }}

{{ wetty_container_labels_additional_labels }}
